{% extends "blog/base.html" %}

    {% block content%}
    <!-- using Jinja notation to write code -->
    <!-- this post is the key for the dictionary i created in my  -->
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {%  endblock content %}

    <!-- need to make sure we end the for loop which we did -->

>