
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
<!-- bootstrap is being included from the base html so that is why you can use form-group, a bootstrap class -->

{% block content%}
<!-- using Jinja notation to write code -->
<!-- this post is the key for the dictionary i created in my  -->
    <div class="content-section">
        <form method="POST">
            <!-- this token is needed by django to make sure that the form is protected -->
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class ="border-bottom mb-4">Blog Post</legend>
                <!-- the .as_p will render the form in paragraph tags which helps us on spacing -->
                {{ form|crispy}}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>

        </form>
    
    </div>
{%  endblock content %}

<!-- need to make sure we end the for loop which we did -->



