{% extends "blog/base.html" %}

    {% block content%}
    <!-- using Jinja notation to write code -->
    <!-- this post is the key for the dictionary i created in my  -->
    
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    

    {%  endblock content %}