
{% extends "blog/base.html" %}

{% block content%}
<!-- using Jinja notation to write code -->
<!-- this post is the key for the dictionary i created in my  -->
    <div class="content-section">
        <form method="POST">
            <!-- this token is needed by django to make sure that the form is protected -->
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class ="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{object.title}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes,Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"type="submit">Cancel</a>
            </div>

        </form>
    
    </div>
{%  endblock content %}

<!-- need to make sure we end the for loop which we did -->
